@media (max-width: 768px) {
    /* home page */
    body {
      font-size: 11px;
      overflow-x: hidden;
    }
    .text-ontop-video {
        width: 100%;
    }
    .quote {
        margin: 0;
        padding: 0;
    }
    .logos {
        display: flex;
        position: absolute;
        top: 10px;
        left: 113px;
        justify-content: space-evenly;
        height: 3rem;
        width: 70%;
    }
    .menu_btn img{
        width: 60px;
    }
    .menu_btn {
        top: 0.5rem;
        left: 1rem;
    }
    .dresses_div_Parent {
        display: none;
    }
    .magazin_section {
        display: block;
        padding-top: 1rem;
        margin-top: 0;
    }
    .magazin > img {
        display: block;
        width: 90%;
        margin: auto;
    }
    .works-texts {
        margin-left: 0;
        /* padding: 0 10px; */
        text-align: left;
    }
    .cursive_text {
        letter-spacing: 0;
    }
    .btn-grad {
        margin: 0;
    }
    
  }