/* Style the entire scrollbar */
::-webkit-scrollbar {
  width: 4px; /* Vertical scrollbar width */
  height: 4px; /* Horizontal scrollbar height */
}

/* Style the scrollbar track (background) */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0); /* Light gray color for the track */
}

/* Style the scrollbar thumb (draggable part) */
::-webkit-scrollbar-thumb {
  background: #777676; /* Dark gray color for the thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

/* Style the thumb when hovered */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker thumb color when hovered */
}

/* Optional: Change the scrollbar corner (where horizontal and vertical meet) */
::-webkit-scrollbar-corner {
  background: #f1f1f1; /* Same as track color */
}
html {
scroll-behavior: smooth;
}
body {
  margin: 0px;
  padding: 0px;
  /* background-color: #1A2227; */
  counter-reset: rgb(0, 0, 0);
  /* font-family: "Roboto", sans-serif; */
  font-family: "Montserrat", sans-serif;
  overflow-x: scroll;
  /* color: #E0E0E0; */
  
  cursor: url('../Media/cursor.png'), auto;  
  /* scroll-behavior: smooth; */

}
p{
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  line-height: 1.6;
  /* color: #d9d9d9;
   */
   color: black;
   text-align: justify;
}

a:hover {
cursor: url('../Media/cursor-link.png'), pointer; /* Change cursor when clicked */
}
/* cursor design */
/* .cursor-dot{ 
width: 5px;
height: 5px;
background-color: white;
}
.cursor-outlin{
width: 30px;
height: 30px;
border: 2px solid hsla(0, 0%, 100%, 0.5);
}
.cursor-style {
position: fixed;
top: 0;
left: 0;
transform: translate(-50%, -50%);
border-radius: 50%;
z-index: 1;
pointer-events: none;
} */

header {
  position: fixed;
  padding: 2rem 0;
  width: 98.5%;
  /* color: white; */
  color: black;
  /* font-weight: bold;     */
  z-index: 2;
}
.no-style {
list-style: none;
margin: 0;
padding: 0;
}
.links-ul {
  text-align: right;
}
.nav {
  color: white;
}


/* js */
.black {
  color: black;
  text-shadow: 0 0 3px #ffffff;
}


a {
  all: unset; /* Removes all inherited and default styles */
  text-decoration: none; /* Removes underline */
  color: inherit; /* Uses the parentÃ¢â‚¬â„¢s text color */
  cursor: pointer; /* Keeps the clickable behavior */
  /* text-shadow: 0 0 3px black; */
}


.links-ul > li {
  display: inline;
  padding: 0 1rem;
}

/* end of header */
/* ````````````````````````section Home ```````````````````````````` */

                      /* Video bg*/
#bg-video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures it covers the screen */
  z-index: -1; /* Sends it behind other content */
  /* opacity: 0.8; */
}
.text-ontop-video{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center text */
  color: white;
  /* font-size: 2rem;
  font-weight: bold; */
  text-align: center;
  z-index: 1; /* Ensures text stays above video */
}
.text-ontop-video > div {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 4em;
  font-weight: 400;
}
.text-ontop-video > p {
  font-family: 'Caveat', cursive;
  /* margin-bottom: 1.6em; */
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 0.4em;
  color: white;
}
.quote {
font-family: "Playfair Display", serif;
font-size: 2em;
letter-spacing: 4px;
}

                      /* main pages */
/* #home {
  background-image: url('../Media/Home Page.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
} */
.homePage-main {
  width: 100vw;
  height: 100vh;
  /* background-color: black; */
}

.test {
  height: 100vh;
}   

/* scrolling navigation */
a:hover {
transition: 0.5s;
color: #0ef
}

.logos {
position: absolute;
bottom: 186px;
left: 60px;
}
.logos {
font-size: 1.8em;
}
.logos div {
padding: 10px 0;
}

section {
height: 100vh;

}



/* ``````````````section Work````````````````````````````````` */
#works {
  /* background-image: url('../Media/work-img.JPG'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; */
  height: 240vh !important;
}

.works-content {
  width: 98%;
  margin: auto;
}
.dresses_div_Parent {
  display: flex;
}

/*Model img hover*/
.img-container {
  position: relative;
  width: 100%;
  max-width: 30rem;
  aspect-ratio: 2 / 3;
  overflow: hidden;
}

.dress_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: auto;
  transition: transform 0.3s ease;
  transform-origin: center center;
}


.zoom_default {
  transform: scale(1) !important;
}

/* zoom  */
/* I just remove the 2nd img and add zoom to based img */



  

.works-texts {
  /* margin-top: 15rem; */
  /* text-align: center; */
  width: 60%;
  margin-left: 2rem;
}

.magazin_section{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.works-content-img.techpack-div {
  display: flex
;
  justify-content: space-around;
}




.slider-wrapper {
  width: 100%;
  max-width: 545px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  margin: auto;
  margin: 0;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.card {
  /* min-width: 77%; */
  height: 800px;
  background-color: #fff;
  margin: 0 10px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.nav-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none;
}

.nav-buttons button {
  pointer-events: auto;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.nav-buttons button:hover {
  background: rgba(0, 0, 0, 0.7);
}


.Magazinea_pdf {
  display: inline-block;
  border: 1px solid #0ef;
  margin: autos;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1.2rem;
  border-radius: 0.2rem;
  background-color: rgb(222 253 255);
}
.Magazinea_pdf:hover {
  background-color: rgb(4, 83, 88);
  transition: ;
}

.techpack {
  width: 38rem;
}

/* ``````````````````````section About ```````````````````````` */
h1, h2, h3, .head {
  font-family: "Playfair Display", serif;

}
section .head {
  font-size: 3em;
  text-align: center;
  padding-top: 25px;
  font-family: "Playfair Display", serif;
  margin-bottom: 2rem;
}
#about {

}
.main-content {
  width: 90%;
  margin: auto;
}

.about-content {
  display: flex;
  justify-content: space-between;
}
.img-name {
  background-color: #6f66c5;
  padding: 2px 10px;
  border-radius: 40px;
  font-size: 2.5em;
  font-family: 'Caveat', cursive;
  position: relative;
  top: 0rem;
  left: 63rem;
  color: white;
}
.profile-img {
  width: 45rem;
  border-radius: 50%;
}
.about-text p {

}

/* ``````````````````````section 3``````````````````````````` */
#skills {
  
}
.skill-content {
  display: flex;
  justify-content: space-around;
  margin-top: 10rem;
}
.skill div {
  font-size: 36px;
  /* padding-bottom: 5px; */
  display: flex;
  /* margin: 13px; */
  padding: 9px;
}
.skill-icon {
  
}

