<div class="header_main_div">
    <div class="head_div">
        <div class="side_nav_btn">
            <button class="menu_btn menu_btn_click"><img src="../Media/icons/icons8-menu-50.png" alt="Menu"></button>
            <button class="menu_btn"><img src="../Media/icons/icons8-cross-50.png" alt="Menu"></button>
        </div>
    </div>
    <div class="side_nav_div">
        <div>
            <div class="side_bar_div">
                <img class="side_bar_div" src="../Media/side-bar-logo.png" alt="">
            </div>
            <nav class="side_nav">
                <ul class="no-style">
                    <li class="side_li"><a class="side_nav_a" href="/">Home</a></li>
                    <li class="side_li"><a class="side_nav_a" href="/editorial-fashion-shots">Editorial Fashion Shots</a></li>
                    <li class="side_li"><a class="side_nav_a" href="/university-projects">University Projects</a></li>
                    <li class="side_li"><a class="side_nav_a" href="/sketche">Sketch</a></li>
                    <li class="side_li"><a class="side_nav_a" href="/techpack">Techpack</a></li>
                    <li class="side_li"><a class="side_nav_a" href="/mood-board">Mood Board</a></li>
                    <li class="side_li"><a class="side_nav_a" href="/photography">Photography</a></li>
                </ul>
            </nav>
        </div>
        <div class="scroll-indicator side_bar_Scroll_indicator"></div>
    </div>
    <div class="block_right_div"></div>
</div>
